.footer-grid {
    margin-top: 40px;
}
.footer-grid__item:nth-child(2),
.footer-grid__item:nth-child(3) {
    margin-top: 20px;
}
.footer-grid__header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.footer-grid__header img {
    width: 40%;
}
.footer-grid__desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
}
@media (max-width: 768px) {
    .footer-grid__item {
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
