.footer-contact {
    padding-bottom: 20px;
    border-bottom: 2px solid #ec0000;
}
.footer-contact__item {
    display: flex;
    align-items: center;
}
.footer-contact__icon {
    width: 20%;
}
.footer-contact__icon ion-icon {
    color: #ec0000;
    font-size: 40px;
    font-weight: 600;
}
.footer-contact__content {
    width: 80%;
}
.footer-contact__heading {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.footer-contact__desc {
    font-size: 15px;
}

@media (max-width: 768px) {
    .footer-contact__item:last-child {
        margin-bottom: 40px;
    }
    .footer-contact__item {
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
