.footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ec0000;
}
.footer-contact__item {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contact__icon {
    width: 20%;
}
.footer-contact__icon ion-icon {
    color: #ec0000;
    font-size: 40px;
    font-weight: 600;
}
.footer-contact__content {
    width: 80%;
}
.footer-contact__heading {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.footer-contact__desc {
    font-size: 15px;
}
