.menu-toogle {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 15%;
    right: 2%;
    z-index: 9999;
}
.toggle-button {
    color: white;
    background-color: #1473e6;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    transition: all 0.3s linear;
}
.menu-toggle__content {
    position: absolute;
    right: 80%;
    bottom: 100%;
    width: 12rem;
    border-radius: 4px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 999;
    padding: 5px;
}
.menu-toggle__content a {
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.menu-toggle__content a:hover {
    background-color: #ccc;
    color: black;
}

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
