.sidebar {
    position: fixed;
    height: 100vh;
    top: -22%;
    top: -5%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
.sidebar.spacing {
    top: 0%;
}
.sidebar li {
    height: 15%;
}
.sidebar li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border-radius: 50%;
    padding: 8px 10px;
    object-fit: cover;
}
.sidebar li a.active {
    background-color: #ec0000;
    color: white;
}
.sidebar li a ion-icon {
    font-weight: 600;
    font-size: 18px;
}
.sidebar li a span {
    font-size: 12px;
    width: 50px;
    text-align: center;
}
.menu-toogle {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 15%;
    right: 2%;
    z-index: 9999;
}
.toggle-button {
    color: white;
    background-color: #1473e6;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    transition: all 0.3s linear;
}
.menu-toggle__content {
    position: absolute;
    right: 80%;
    bottom: 100%;
    width: 10rem;
    border-radius: 4px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 9999;
}
.menu-link {
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 15px;
}
.menu-link:hover {
    background-color: #ccc;
}
.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
