.latest-post .post-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    gap: 40px 10px;
    margin-bottom: 60px;
}
.latest-post ul li a,
.latest-post ul li a .post-item__image,
.latest-post ul li a .post-item__image img {
    width: 100%;
    max-height: 280px;
    height: 100%;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
}
.latest-post ul li a .post-item__image img:hover {
    transform: scale(1.2);
}
.latest-post ul li {
    position: relative;
}
.latest-post ul li a {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.latest-post ul li a {
    z-index: 0;
    height: 65%;
}
.latest-post ul li .post-item__content {
    height: 35%;
}
.latest-post ul li .post-item__content .post-item__category {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #ec0000;
}

.latest-post ul li a .post-item__content .post-item__category {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #ec0000;
}
.latest-post ul li a .post-item__content .post-item__more .post-item__author {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}
.latest-post
    ul
    li
    a
    .post-item__content
    .post-item__more
    .post-item__author
    ion-icon,
.latest-post
    ul
    li
    a
    .post-item__content
    .post-item__more
    .post-item__date
    ion-icon {
    background-color: #f3d6d6;
}
.latest-post__category {
    background-color: #ec0000;
    color: white;
    padding: 6px 14px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: 600;
}
.latest-post__caption hr {
    border-bottom: 2px dotted #ec0000;
}
@media (max-width: 1023px) {
    .latest-post .post-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .latest-post .post-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
