.form-control__input {
    margin: 1rem 0;
}

.form-control .form-control__input .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control__input input,
.form-control__input textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 6px;
}

.form-control__input input:focus,
.form-control__input textarea:focus {
    outline: none;
    background: #fff;
    border-color: #0d6efd;
}

.form-control--invalid label,
.form-control--invalid p {
    color: #ec0000;
    font-size: 14px;
}

.form-control--invalid input,
.form-control--invalid textarea {
    border-color: #ec0000;
    background: #fff;
}
